.navbar-header h4 {
  font-weight: bold;
  font-size: 28px;
}

.navbar-header h4 span {
  color: #058a19;
}

.section-exam {
  text-align: left;
}
.section-exam h1 {
  font-size: 20px !important;
  font-weight: bold !important;
}

.section-exam button{
  border-radius: 10px;
  font-size: 14px;
  background-color: #058A19;
}

.modal .modal-dialog .modal-content .modal-header button {
  margin-top: -38px;
}

.card-title h1 {
  font-weight: bold !important;
  font-size: 20px !important;
}

.section-pp {
  display: flex;
  justify-content: center;
}

.section-pp .img-user {
  width: 150px !important;
  height: 150px !important;

}